/* BEGINNING OF TOPNAV AND FOOTER */

* {
    margin: 0;
    padding: 0;
}

html{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7rem;
    height: 100%;
}

#LOGO {
    padding-left: 50px;
}

#topnav {
    padding: 1px 1px;
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0px; 
    width: 100%;
    transition: top 0.3s
  }

  #topnav h1 {
      float: left; 
      color: white;
      text-align: center;
      font-size: 1.5rem;
      margin-top: 25px;
      margin : 15px; 
  }
  
  
  #topnav a {
    float: right;
    color: #f2f2f2;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    text-align: left;
   
  }

  #topnav a:hover {
      background-color:#444444;
      color: #f7c08a;
  }

  footer {
    text-align: center;
    background-color: #333;
    padding-top: 10px;
    color: white;
  }

/* END OF TOPNAV AND FOOTER */
  

/*  BEGINNING OF HOME PAGE */

.class1 {
    margin-top: 3%;
    background-image: url(../IMAGES/showcase.jpg);
    width: 100%;
    height:600px;
}

#ENJOY {
    color:  #f7c08a;
}

.class1 h1{
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top: 250px; 
    line-height: 1.7rem;
}

.class1 p {
    padding-top: 50px;
    color: white;
    text-align: center;
}

.class1 button {
    background-color: #333;
    display: inline-block;
    padding: 20px;
    text-align: center;
    border: 5px #333;
    margin-left: 45%;
    margin-top: 2%;
    color: white;
}


.class1 button:hover {
    background-color:#444444;
    color: #f7c08a;
}


.GRIDS {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 450px;
    width: 100%;
}

#gridpic {
    height: 450px;
    width: 100%;
}
#BOXPIC {
    grid-template-columns: 1fr 1fr;
    height: 450px;
    
}

#BOXTEXT {
     grid-template-columns: 1fr 1fr;
     color: white;
     background-color: #333;
     text-align: center;
     padding-top: 25%;
}

#thehistory {
    color:  #f7c08a;
}

.GRIDS button {
    background-color: white;
    display: inline-block;
    padding: 15px;
    padding-left: 50px ;
    padding-right: 50px;
    text-align: center;
    border: 5px #333;
    margin-top: 2%;
    color: black;
}

.GRIDS button:hover {
    background-color:#f7c08a;
    color: #444444;
}

.GRIDS2 {
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    margin: 0 auto;
    width: 100%;
    height: 350px;
}

.GRIDS2 i {
    color: #333;
    font-size: 3rem;

}

.GRIDS2>div {
    padding-top: 20px;
}

.GRIDS2 p {
    padding-bottom: 100px;
}

.class3 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr, 1fr, 1fr;
    
}

.class4 {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr, 1fr, 1fr;
    background-color:  #f7c08a;
}



/* END OF THE HOME PAGE CSS */



/* BEGINNING OF CONTACT PAGE CSS*/


/* FORM  CSS*/
#name {
    height: 30px;
    width: 300px;
}

#email {
    height: 30px;
    width: 300px
}

#contactus {
    color: black;
    font-size:3rem;
}

#contact {
    color: #f7c08a;
}


#message {
    width: 500px;
    height: 200px;
}

/* END OF FORM CSS */


/*CONTACT PAGE GRID */
#contactsec {
    margin-top: 5%;
    padding-left: 30px
}

#contactgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0px;
    width: 100%; 
    height: 200px;
    margin: 0 auto;
    text-align: center;
    
}

.contactgrid1{
    background-color: #333;
    color: white;
    grid-template-columns: 1fr, 1fr, 1fr;
}

.contactgrid1{ 
    padding-top: 10%;

}

/* FOOTER */

#contactfooter {
    height: 50px;
    background-color: #444444;
}

#contactfooter p {
    padding-top: 12px;
    padding-bottom: 1px;
}

#submitbutton {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #333;
    color: white;
    margin-bottom: 2.5%;
    margin-top: 1.5%;
}

#submitbutton:hover {
    background-color: #444444;
    color: white;
}

/* End of Contact Page Css */

/* Beginning of About CSS */

#aboutsec1 {
    display: grid;
    margin-top: 5%;
    grid-template-columns: 1fr 1fr;

}

#sec1grid {
    text-align: justify;
    margin-left: 100px;

}

#sec1grid h1 {
    color: #333;
    font-size: 2.5rem;
    margin: 5%;
}

#sec1grid span {
    color: #f7c08a;
}

#sec1gridpic {
    align-content: center;
    margin-left:150px;
    margin-top:70px;
 
}

#sec1gridpic img {
    border-radius: 50%;
    width: 70%;
    margin-left: 100px;
}


#aboutsec2 {
    background-image: url(../IMAGES/test-bg.jpg);
    padding-bottom: 5%;
    background-repeat: no-repeat;
}

#aboutsec2 h2{
    padding-top: 200px;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    color: white;
    font-size: 3rem;
}

#aboutsec2one{
    display: grid;
    grid-template-columns: 20% 1fr;
    background-color: #f7c08a;
    width: 80%;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 50px;
    margin-top: 2%;
}

#aboutsec2one img {
    border-radius: 50%;
    height: 150px;
    margin: 30px;
    grid-template-columns: 1fr 1fr;
    width: 150px; 
}

#aboutsec2one p {
    text-align: justify;
    margin-top: 3%;
    margin-right: 3%;
}

#aboutsec2two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 20% 1fr;
    background-color: #f7c08a;
    width: 80%;
    margin: 0 auto;
    height: 200px;

}


#aboutsec2two img {
    border-radius: 50%;
    height: 140px;
    margin: 50px;
    width:140px;
    margin: 30px;
}

#aboutsec2two p {
    text-align: justify;
    margin-top: 3%;
    margin-right: 3%;
}

/* end of About CSS */

